{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "./node_modules/gts/"
  ],
  "rules": {
    "@typescript-eslint/no-namespace": "off",
    "semi": ["error", "never"]
  }
}
